<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IntelliSmart - Engg. Mechanics Statics-</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets2/assets/img/favicon.png" rel="icon">
  <link href="static/assets2/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets2/assets/css/main.css" rel="stylesheet">


</head>

<body class="page-blog">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets2/assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">IntelliSmart</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets2/assets/img/blog-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Engineering Mechanics Statics </h2>
        <ol>
          <li><a href="/EnggMechanics">Home</a></li>
          <li>2/23</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="row gy-5 posts-list">

              <div class="col-lg-11">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="static/assets2/assets/img/blog/blog-1.png" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">Problem 2/23 </a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Adrusht Shetty</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Nov 4, 2023</time></a></li>

                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      Determine the scalar components Ra and Rb of the force R along the nonrectangular axes a and b. Also determine the orthogonal projections Pa of R onto axis a.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="/EnggMechanicsT2-23">Use Default Values <i class="bi bi-arrow-right"></i></a>
                  </div>
                  <br>
                  <br>


                </article>
              </div><!-- End post list item -->


          </div>

        </div>

      </div>
    </section><!-- End Blog Section -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Customize Parameters</h3>
            <p>Take control of your learning experience by customizing the parameters of the given problem. Click the button below to enter your specific values and tailor the problem to your unique requirements. Empower your learning journey with personalized challenges and solutions.</p>
            <a class="cta-btn" href="/EnggMechanics2-23">Customise</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <span>IntelliSmart</span>
            </a>
            <p>Welcome to IntelliSmart, your ultimate companion for conquering complex engineering and academic textbooks with ease. Our web app is designed to provide you with in-depth and meticulous solutions for a wide range of engineering textbook questions and other academic materials.</p>

          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="/">Subjects</a></li>

            </ul>
          </div>


          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              PESU<br>
              100 Feet Ring Road,<br>
BSK III Stage,<br>
Bangalore-560085
              <br>
              <strong>Phone:</strong> +91 8073749734<br>
              <strong>Email:</strong> adrushshetty@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>IntelliSmart</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="https://github.com/adrushtshetty">Adrusht Shetty</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets2/assets/vendor/aos/aos.js"></script>
  <script src="static/assets2/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets2/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets2/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets2/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets2/assets/js/main.js"></script>

</body>

</html>