<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IntelliSmart - Engg. Mechanics Statics-</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets2/assets/img/favicon.png" rel="icon">
  <link href="static/assets2/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets2/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets2/assets/css/main.css" rel="stylesheet">


</head>

<body class="page-blog">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets2/assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">IntelliSmart</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/assets2/assets/img/blog-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Engineering Mechanics Statics </h2>
        <ol>
          <li><a href="/EnggMechanics">Search</a></li>
          <li><a href="/EnggMechanicsP2-23">2/23</a></li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->


    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="static\assets2\assets\img\blog\csa-3.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Problem A/3</h3>
              <p>
                The narrow rectangular strip has an area of 300
mm<sup>2</sup>, and its moment of inertia about the y-axis is
35x 10<sup>3</sup> mm<sup>4</sup> . Obtain a close approximation to the
polar radius of gyration about point O.
              </p>
              <hr>
              <h5>Answer: </h5>
             <p>
                We know that I<sub>x</sub>=k<sub>x</sub><sup>2</sup>A
                <br>
                Where  <span style=" font-weight: bold;">k<sub>x</sub></span>
                   is called the <span style=" font-weight: bold;">radius of gyration</span> about the x - axis
                <br>
                <span style=" font-weight: bold;">I<sub>x</sub>=k<sub>x</sub><sup>2</sup>A</span>
                <br>
                I<sub>x</sub>={{SA}} mm<sup>2</sup> . ({{Skx}}mm)<sup>2</sup>
              <br>
                <span style=" font-weight: bold;">I<sub>x</sub>={{SIx}} mm<sup>4</sup></span>
              <br>
              <br>
                Given: Moment of inertia about y-axis, <span style=" font-weight: bold;">I<sub>y</sub>={{SIy}}x10<sup>3</sup> mm<sup>4</sup></span>
<br>
                <br>
              Now we know that Polar moment of inertia
              <br>
              <span style=" font-weight: bold;">I<sub>z</sub>=I<sub>x</sub> + I<sub>y</sub></span>
              <br>
              I<sub>z</sub> = ({{SIy}}x10<sup>3</sup> + {{SIx}} ) mm<sup>4</sup>
                <br>
                <span style=" font-weight: bold;">I<sub>z</sub> = {{SIz}} mm<sup>4</sup></span>
              <br>
              <br>
              <br>
              Polar radius oif gyration about point O
                <br>
                <span style=" font-weight: bold;">I<sub>z</sub>=k<sub>z</sub><sup>2</sup>A</span>
              <br>
              k<sub>z</sub><sup>2</sup>=I<sub>z</sub> / A
              <br>
              k<sub>z</sub> = &radic;(I<sub>z</sub> / A)
              <br>
              k<sub>z</sub> = &radic;({{SIz}} / {{SA}})
              <br>
              <span style=" font-weight: bold;">k<sub>z</sub> = {{Skz}} mm</span>
                <hr>

              </p>
              <br>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <span>IntelliSmart</span>
            </a>
            <p>Welcome to IntelliSmart, your ultimate companion for conquering complex engineering and academic textbooks with ease. Our web app is designed to provide you with in-depth and meticulous solutions for a wide range of engineering textbook questions and other academic materials.</p>

          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="/">Subjects</a></li>

            </ul>
          </div>


          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              PESU<br>
              100 Feet Ring Road,<br>
BSK III Stage,<br>
Bangalore-560085
              <br>
              <strong>Phone:</strong> +91 8073749734<br>
              <strong>Email:</strong> adrushshetty@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>IntelliSmart</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="https://github.com/adrushtshetty">Adrusht Shetty</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets2/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets2/assets/vendor/aos/aos.js"></script>
  <script src="static/assets2/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets2/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets2/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets2/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets2/assets/js/main.js"></script>

</body>

</html>